{:paths ["src" "resources"]

 :deps {org.clojure/clojure                 {:mvn/version "1.11.4"}
        org.clojure/spec.alpha              {:mvn/version "0.5.238"}
        org.clojure/core.specs.alpha        {:mvn/version "0.4.74"}
        com.rpl/specter                     {:mvn/version "1.1.4"}
        
        org.clojure/tools.cli               {:mvn/version "1.1.230"}
        org.jsoup/jsoup                     {:mvn/version "1.18.1"}
        
        babashka/fs                         {:mvn/version "0.5.22"}
        
        com.github.seancorfield/next.jdbc   {:mvn/version "1.3.939"}
        com.github.seancorfield/honeysql    {:mvn/version "2.6.1147"}
        org.xerial/sqlite-jdbc              {:mvn/version "3.46.1.0"}
        org.clojars.mjdowney/excel-clj      {:mvn/version "2.2.0"}

        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        net.cgrand/xforms                   {:mvn/version "0.19.6"}
        org.slf4j/slf4j-simple              {:mvn/version "2.0.16"}

        http-kit/http-kit                   {:mvn/version "2.8.0"}
        org.babashka/http-client            {:mvn/version "0.4.20"}
        metosin/reitit                      {:mvn/version "0.7.1"}

        buddy/buddy-auth                    {:mvn/version "3.0.323"}
        buddy/buddy-hashers                 {:mvn/version "2.0.167"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}
             "jitpack" {:url "https://jitpack.io"}}

 :mvn/local-repo "C:\\repo"

 :aliases {:repl {:extra-deps {io.github.clojure/tools.build        {:mvn/version "0.10.5"}
                               nrepl/nrepl                          {:mvn/version "1.3.0"}
                               cider/cider-nrepl                    {:mvn/version "0.49.3"}
                               refactor-nrepl/refactor-nrepl        {:mvn/version "3.10.0"}
                               mx.cider/tools.deps.enrich-classpath {:mvn/version "1.19.3"}
                               cider/orchard                        {:mvn/version "0.27.0"}}
                  :ns-default build
                  :extra-paths ["."
                                "C:/Users/Utilisateur/scoop/apps/zulufx-jdk/current/lib/src.zip"
                                "C:/Users/sib_twalter/scoop/apps/zulufx-jdk/current/lib/src.zip"
                                "/home/util/opt/zulu22.30.13-ca-fx-jdk22.0.1-linux_x64/lib/src.zip"
                                "/usr/lib/jvm/java-22-openjdk/lib/src.zip"]
                  :main-opts ["-m" "nrepl.cmdline" "--middleware"
                              "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

           :build {:replace-deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
                   :ns-default build}

           :neil {:deps {io.github.babashka/neil {:git/tag "v0.3.67" :git/sha "054ca51"}}
                  :main-opts ["-m" "babashka.neil"]}
           
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :exec-fn cognitect.test-runner.api/test
                  :main-opts ["-m" "cognitect.test-runner"]}
           
           :antq {:replace-deps {com.github.liquidz/antq {:mvn/version "2.9.1917"}}
                  :ns-default antq.core
                  :exec-fn -main}}}
